/*======= Font rengini #3C373B yapan bir yeni bir universal selector yaratın ----tamamlandı*/
*{
  color: #3C373B;
}

h1 {
  font-family: 'Gaegu', cursive;
  margin: 20px 0;
  /*=======  Font size'ı 60px yapın ve text'i ortalayın(center) ----------------tamamlandı*/
  font-size: 60px;
  text-align: center;
}

h2, h3, h4, h5, h6 {
  font-family: 'Gaegu', cursive;
  margin-bottom: 0;
  padding: 0 10px;
  /*=======  Font size'ı 30px yapın-------------------------------------------tamamlandı*/
  font-size: 30px;
}

/*======= Sayfadaki TÜM p tag'leri için aşağıdaki özellikleri içeren bir selector yaratın: ---------tamamlandı

font-size: 16px;
font-family: roboto;
padding: 10px;
line-height: 1.4;

*/
p{
  font-size: 16px;
  font-family: roboto;
  padding: 10px;
  line-height: 1.4;
}

/*======= Sayfadaki TÜM imajlar için aşağıdaki özellikleri içeren bir selector yaratın:

  border-radius: 10px;

*/
img{
  border-radius: 10px;
}


.content-row {
  display: flex;
  justify-content: center;
}

.content-row div {
  /*======= margin propery yaratın.  Değerini 20px olarak atayın -------------------tamamlandı*/
  margin: 20px;
}
.resimler img{
  width:82rem;
  height: auto;
  margin: 3em;
}
.resimler{
  text-align: center;
  background-color: rgb(240, 236, 236);
}

.container {
  /*======= width property yaratın. Değerini 605px olarak atayın */
  margin: 0 auto;
}

.giris{
  width:82rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin: 30px auto;
}
.content{
  width:82rem;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items:flex-start; */
  margin: 30px auto;
}
.content div{
  margin: 0px;
}
.content img{
  width: 40em;
  height: auto;
  /* margin-top: 30px; */
  margin-right: 30px;
}
.container header nav a{
  margin: 0 20px;
  /* border: 1px solid lightgray; */
  padding: 20px 30px;
  /* display: inline-block; */
  border-radius: 20px;
  color: white;
  text-decoration: none;
  margin-bottom: 20px;
   /*======= background property yaratın. Değerini #E79947 olarak atayınız.*/
  background-color: #E79947;
  font-family: 'Gaegu', cursive;
  font-size: 30px;
}




.container header nav a:hover {
/*======= background property yaratın ve değeri white olsun.  Sonra, color property yaratın ve değerini yapın. */
background: white;
color: black;
}

/*======= Hakkmızda bölümü için aşağıdaki stilleri içeren bir selector yaratın:
  margin-top: 20px;
*/

.contact-section {
  border-top: 1px dashed black;
  padding: 20px 0;
}

.contact-section h3 {
  padding: 0;
  margin: 0 0 10px 0;
}

/*======= contact-section class'da address tag'i için aşağdıaki stilleri içeren bir selector yaratın:
   line-height: 2;
*/
.contact-section address {
  line-height: 2;
}


footer {
  width: 100%;
  background: #E79947;
  border-top: 1px dashed white;
}

footer .footer-content { 
  margin: 0 auto; 
  /*======= width property yaratın. Değerini 605px olarak atayın */
  width: 82rem;
}

footer .footer-content h4 {
  padding: 0;
  margin: 20px 0;
}

footer nav {
  display: flex;
}

/*======= Footer'daki anchor tag için aşağıdaki stilleri içeren bir selector yaratın:
  margin: 10px;
  color: black;
  text-decoration: underline;
  -------------------------------------tamamlandı
*/
footer nav a{
  margin: 10px;
  color: black;
  text-decoration: underline;
}

footer nav a:first-child {
  margin-left: 0;
}

/*======= Footer nav'daki anchor tag için aşağıdaki stilleri içeren bir hover state yaratın:
  color: white;
*/
footer nav a:hover{
  color: white;
}

footer .footer-content .copyright {
  padding: 20px 0;
   /*======= metni ortalayacak kodu yazın ----------tamamlandı*/
   text-align: center;
}
